:root {
  --font-primary: "Bai Jamjuree", sans-serif;
  --color-heading-primary: hsl(210, 9.5%, 32.9%);
  --color-text-primary: hsl(201, 11.5%, 65.9%);
  --color-white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
}

input, select, textarea, button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding-top: 123px;
  background: url("../images/bg-header-mobile.png") no-repeat top left/contain;
}
@media (min-width: 48em) {
  .wrapper {
    background: url("../images/bg-header-desktop.png") no-repeat top left/contain;
    max-width: 90rem;
  }
}

.clipboard {
  text-align: center;
}
.clipboard-header {
  margin-bottom: 160px;
  padding: 0 42px;
}
.clipboard h1, .clipboard h2 {
  margin: 64px 0 16px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.521739px;
  color: var(--color-heading-primary);
}
.clipboard h2 {
  margin-top: 0;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.456522px;
}
.clipboard p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.12px;
  color: var(--color-text-primary);
}
.clipboard .buttons {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .clipboard .buttons {
    flex-direction: row;
    justify-content: center;
  }
}
.clipboard .buttons-ios, .clipboard .buttons-mac {
  display: block;
  width: 311px;
  height: 56px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: var(--color-white);
  border-radius: 28px;
  cursor: pointer;
}
@media (min-width: 48em) {
  .clipboard .buttons-ios, .clipboard .buttons-mac {
    width: 227px;
    margin: 0;
  }
}
.clipboard .buttons-ios {
  margin-bottom: 24px;
  background: hsl(170.7deg, 66.2%, 44.1%);
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}
@media (min-width: 48em) {
  .clipboard .buttons-ios {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.clipboard .buttons-mac {
  background: hsl(232.8deg, 100%, 69%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}
.clipboard-snippets {
  margin-bottom: 186px;
}
@media (min-width: 48em) {
  .clipboard-snippets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media (min-width: 48em) {
  .clipboard-snippets-heading {
    flex-basis: 100%;
  }
}
@media (min-width: 48em) {
  .clipboard-snippets picture {
    flex-basis: 50%;
  }
}
.clipboard-snippets-heading, .clipboard-snippets-text {
  padding: 0 42px;
}
@media (min-width: 48em) {
  .clipboard-snippets-text {
    flex-basis: 50%;
  }
}
.clipboard-snippets p {
  margin-bottom: 48px;
}
.clipboard-snippets img {
  margin: 17px 0 56px;
}
.clipboard-anywhere {
  margin-bottom: 130px;
}
.clipboard-anywhere-heading {
  padding: 0 42px;
}
.clipboard-anywhere img {
  margin-top: 64px;
}
@media (min-width: 48em) {
  .clipboard-supercharge {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
.clipboard-supercharge-heading {
  margin-bottom: 90px;
}
@media (min-width: 48em) {
  .clipboard-supercharge-heading {
    flex-basis: 100%;
  }
}
.clipboard-supercharge-text {
  margin-bottom: 56px;
}
@media (min-width: 48em) {
  .clipboard-supercharge-text {
    flex-basis: 33.333%;
  }
}
.clipboard-supercharge-text img {
  margin-bottom: 40px;
}
.clipboard-supercharge-text h3 {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.391304px;
  color: var(--color-heading-primary);
}
.clipboard-brands {
  margin-top: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 48em) {
  .clipboard-brands {
    flex-direction: row;
    justify-content: center;
  }
}
.clipboard-brands img {
  max-width: 140px;
  margin-bottom: 70px;
}
@media (min-width: 48em) {
  .clipboard-brands img {
    padding: 0 10px;
  }
}
.clipboard-downloads {
  margin-top: 100px;
  padding: 0 44px;
}
.clipboard footer {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  padding: 52px 0;
  color: var(--color-heading-primary);
  background-color: hsl(180deg, 5.9%, 96.7%);
}
@media (min-width: 48em) {
  .clipboard footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
  }
}
.clipboard footer > img {
  display: block;
  width: 55px;
  height: 55px;
  margin: 0 auto 40px;
}
@media (min-width: 48em) {
  .clipboard footer > img {
    margin: 0;
  }
}
@media (min-width: 48em) {
  .clipboard footer .links {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}
.clipboard footer .links a {
  display: block;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 48em) {
  .clipboard footer .links a {
    flex-basis: 33.333%;
  }
  .clipboard footer .links a:nth-of-type(1) {
    order: 0;
  }
  .clipboard footer .links a:nth-of-type(3) {
    order: 1;
  }
  .clipboard footer .links a:nth-of-type(5) {
    order: 2;
  }
  .clipboard footer .links a:nth-of-type(2) {
    order: 3;
  }
  .clipboard footer .links a:nth-of-type(4) {
    order: 4;
  }
}
.clipboard footer .links a + a {
  margin-top: 20px;
}
@media (min-width: 48em) {
  .clipboard footer .links a + a {
    margin-top: 0;
  }
}
.clipboard footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media (min-width: 48em) {
  .clipboard footer .socials {
    margin-top: 0;
  }
}
.clipboard footer .socials a {
  margin: 0 20px;
}
@media (min-width: 48em) {
  .clipboard footer .socials a {
    margin: 0 0 0 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
